

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

p {
  line-height: 1.5;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}